
.hidden {
	opacity: 0 !important;
}

.fadeIn {
	transition: opacity 1s cubic-bezier(.17,.67,.83,.67);
	opacity: 1;
}

.offline-message {
	position: fixed;
	top: 40vh;
	text-align: center;
	width: 100%;
}

body:after {
	content: "";
	background-image: url(images/FIRED--logo-min.png);
	opacity: 0.07;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	width: 100%;
}
h6{
	text-align: center;
	font-size: 24px;
	line-height:28px;
}
form {
	padding-bottom: 4vh;
	text-align: center;
	padding-top: 4vh;
}
li{
	padding-bottom:40px;
}
p{
	-webkit-margin-before: -15px;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

.progress {
	background-color: #2196F3;
	height: 2vh;
}

.progress .determinate {
	background-color: #F44336;
}
.voter {
	text-align:center;
	padding:10px 0;
}
.yes-button, .no-button { 
	height: auto;
	text-align: center;
}

body.offline .yes-button, body.offline .no-button { 
	opacity: 0.4;
}

@media (max-width: 600px) {
  .yes-button, .no-button { 
  	width: 49%;
  }

  form button {
  	width: 100%;
  }
}
